$green: rgb(47, 168, 70);

.stopwatch {
    height: 80px;
    width: 280px;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: $green;

    &__timer {
        color: #000;
        width: 155px;
        font-size: 38px;
        font-weight: 600;
        text-align: center;
    }
}

.button {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    width: 36px;
    height: 36px;
    background-color: #000;
    border: 5px solid #000;
    border-radius: 50%;
    margin: 3px;

    &__start,
    &__resume {
        background-image: url(../../../public/images/icon-play.png);
    }

    &__pause {
        background-image: url(../../../public/images/icon-pause.png);
    }

    &__reset {
        background-image: url(../../../public/images/icon-reset.png);
    }
}